/Backend/.env
/Backend/node_modules/
/Backend/.tmp/
Backend/paygo_account/node_modules
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
my-app/

# macOS
.DS_Store
